

header{
    height: 60px;
    width: 100%;
    padding: 0;
    background-color: #4d0000;
    position: fixed;
}
.main-navigation {
    position: relative;
    float: left;
    width: 100%;
    display: none;
    clear: both;
    font-family:  sans-serif;
    text-transform: uppercase;
    background: #4d0000;

}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}


.main-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    background-color: rgba(158, 37, 32, 0.9);
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;

}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    padding: 1em .8em;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.3em;
    color: #fdb84e;
}
.main-navigation li:hover > a {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #7ac1b7;
}
.main-navigation ul ul a:hover {

}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover {
    color: #313131;
    background: #7ac1b7;
}
.main-navigation .current_page_ancestor {
    background: #4d4d4d;
    background: hsl(0, 0%, 30%);
    /*border: 1px solid #F00;*/
}


.main-navigation .current_page_parent .current_page_item > a {
    color: #313131;
    background: #7ac1b7;
}


@media screen and (min-width:992px) {

    .main-navigation,
    .main-navigation ul{
        display: block;
    }
}
